$gradient1: #ee7752;
$gradient2: #e73c7e;
$gradient3: #23a6d5;
$gradient4: #23d5ab;
$white1: #ffffffee;
$white2: #ffffff99;
$white3: #ffffff32;
$white4: #ffffffaa;
$white5: #ffffff22;
$twhite: #ffffff88;
$black: #000000;
$white: #ffffff;
$gray: #808080;